<!doctype html>
<title>Budget Tracking Tool</title>
<link rel="stylesheet" href="{{ url_for('static', filename='budget_tracking_tool.css') }}">

<body>

<header>
  <h1>Budget Tracking Tool</h1>
  {% if current_user.is_authenticated %}
  <a href="{{ url_for('auth.logout') }}">Logout</a>
  {% else %}
  {% endif %}
</header>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block content %}{% endblock %}

</body>